body {
  background-color: black;
  color: white;
  width: 100%;
  font-size: 1.1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 5px white;
  padding: 0px 20px;
  width: 85%;
  margin: 0 auto;
}

.navbarLeft {
  margin-left: 2%;
  font-size: 1.2rem;
}

.navbarRight {
  overflow: hidden;
  position: relative;
}

.navbarRight a {
  color: white;
  padding: 0.7em;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.navbarRight a:hover {
  transition: 0.5s;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #77ede3,
    0 0 82px #77ede3, 0 0 92px #77ede3, 0 0 102px #77ede3, 0 0 151px #77ede3;
}

.navbarRight #links {
  display: none;
}

.hamburgerIcon {
  margin-top: -10px;
}

.hamburgerBottom, .hamburgerMiddle{
  margin-top: -5px;
}

.hamburgerIcon p {
  font-size: 1.1rem;
  line-height: 0px;
}

.mainSection {
  width: 85%;
  margin: 0px auto;
}

.mainSection img {
  width: 85%;
  height: auto;
  object-fit: fill;
}

.articleSection {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.articleSection div {
  padding: 5px;
  width: 95%;
}

.articleSection img {
  width: 100%;
  height: 65%;
  cursor: pointer;
}

form {
  margin: 5% auto;
  width: 85%;
}

.form-field-area {
  margin: 0 auto;
  width: 90%;
}

.form-field {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.form-field input {
  margin-top: 5%;
  padding: 10px;
  border-radius: 2rem;
  border: solid 2px white;
  color: white;
  font-size: 1.1rem;
  background-color: black;
  opacity: 0.8;
}

.form-field input:focus {
  opacity: 1.0;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.form-field input:hover {
  transition: 0.5s;
  opacity: 1.0;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  cursor: pointer;
}

button {
  width: 30%;
  font-size: 1.1rem;
  font-family: cursive;
  opacity: 0.8;
}

button:hover {
  transition: 0.5s;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

.errorSection {
  font-size: 1.1rem;
  color: white;
}

.neonBorderGreen {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #77ede3,
    0 0 0.8rem #77ede3, 0 0 2.8rem #77ede3, inset 0 0 1.3rem #77ede3;
}

.neonTextGreen {
  font-family: cursive;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #77ede3,
    0 0 82px #77ede3, 0 0 92px #77ede3, 0 0 102px #77ede3, 0 0 151px #77ede3;
}

.neonIconGreen {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #77ede3,
    0 0 82px #77ede3, 0 0 92px #77ede3, 0 0 102px #77ede3, 0 0 151px #77ede3;
}

.neonBorderPurple {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.neonTextPurple {
  font-family: cursive;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #bc13fe,
    0 0 82px #bc13fe, 0 0 92px #bc13fe, 0 0 102px #bc13fe, 0 0 151px #bc13fe;
}

.neonButtonPurple {
  margin-top: 5%;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  padding: 0.4em;
  color: #fff;
  background-color: black;
}
